.ta--center {
  text-align: center;
}
.d--flex {
  display: flex;
}
.fd--row {
  flex-direction: row;
}
.fd--col {
  flex-direction: column;
}
.flex--1 {
  flex: 1;
}
.ai--center {
  align-items: center;
}
.as--f-end {
  align-self: flex-end;
}
.js--f-end {
  justify-self: flex-end;
}
.jc--f-end {
  justify-content: flex-end;
}
.border--1 {
  border: 1px solid var(--text);
}
.jc--space-between {
  justify-content: space-between;
}
.br--xs {
  border-radius: 0.2rem;
}

.f--center {
  align-items: center;
  justify-content: center;
}
.h--full {
  height: 100%;
}
.p--y-s {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.p--y-m {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.p--x-m {
  padding-left: 1rem;
  padding-right: 1rem;
}
.p--x-l {
  padding-left: 2rem;
  padding-right: 2rem;
}
.gap--s {
  gap: 0.6rem;
}
.capitalize {
  text-transform: capitalize;
}
